HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### env (Enviroment variables)
backend/.env

# dependencies
frontend/react-event-app/node_modules
frontend/react-event-app/.pnp
frontend/react-event-app.pnp.js

# testing
frontend/react-event-app/coverage

# production
frontend/react-event-app/build

# enviroment variables
frontend/react-event-app/.env

# misc
frontend/react-event-app.DS_Store
frontend/react-event-app.env.local
frontend/react-event-app.env.development.local
frontend/react-event-app.env.test.local
frontend/react-event-app.env.production.local

frontend/react-event-app/npm-debug.log*
frontend/react-event-app/yarn-debug.log*
frontend/react-event-app/yarn-error.log*

