.event-list-container::-webkit-scrollbar {
    width: 8px;
}

.event-list-container::-webkit-scrollbar-thumb {
    background-color: #007bff;
    border-radius: 4px;
}

.event-list-container::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.event-list-container p.text-muted {
    font-size: 1.2rem;
    color: #6c757d;
    text-align: center;
}

.map-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #007bff;
    color: white;
    padding: 5px 20px;
    border-radius: 12px 12px 0 0;
    margin: 0 auto;
    width: fit-content;
    z-index: 10;
}

.event-count-overlay {
    background-color: #007bff;
    color: white;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: -1px;
}

.event-count-text {
    font-size: 1.02rem;
}

.event-count-label {
    font-size: 1rem;
    margin-left: 6px;
    text-transform: uppercase;
}

.map-container {
    height: 460px;
    border-radius: 16px;
    overflow: hidden;
    border: 1px solid #dcdcdc;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-top: 1px;
    background-color: #fff;
}

.map-container .leaflet-container {
    height: 100%;
    width: 100%;
    border-radius: inherit;
}

.center-map-btn:hover {
    background-color: #0056b3;
    color: #ffffff;
}

.map-container.with-border {
    position: relative;
    height: 430px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background: white;
    border: 2px solid #dcdcdc;
}

.event-list-container {
    max-height: 75vh;
    overflow-y: auto;
    border-left: none;
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}

.button-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.clear-filters {
    background-color: transparent;
    color: #ff6b6b;
    border: 1px solid #ff6b6b;
    border-radius: 8px;
    padding: 6px 12px;
    font-size: 1rem;
    margin-bottom: 3px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}

.clear-filters:hover {
    background-color: #ff6b6b;
    color: white;
    transform: scale(1.05);
}

.clear-filters:focus {
    outline: none;
    box-shadow: 0 0 4px rgba(255, 107, 107, 0.5);
}

.d-flex.justify-content-center.align-items-center {
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 10px;
}