.rounded-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}


.btn-rounded-description {
    font-size: 0.6rem;
    color: #6c757d;
    text-align: center;
}


.button-image {
    width: 70%;
    height: auto;
    object-fit: contain;
    display: block;
}

.card-image {
    width: 90%;
    height: auto;
    margin-right: 5px;
    max-width: 80px;
}


.leaflet-container {
    height: 80vh;
    width: 100%;
}

.event-list {
    max-height: 80vh;
    overflow-y: auto;
    padding-right: 10px;
    position: relative;
}

.location-filter-button {
    border: 1px solid #ccc;
    padding: 8px 16px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
    gap: 8px;
}

.location-section {
    margin-top: 20px;
}

.location-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tag {
    display: inline-block;
    background-color: #f1f1f1;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
}

.tag:hover {
    background-color: #e0e0e0;
}





